{% extends 'base.html.twig' %}

{% block title %}Luttes Enchantées - Gérer les dates{% endblock %}

{% block body %}
    <section class="container row d-flex justify-content-center mt-3 mx-auto">
        <div class="col-md-7 col-11">
            <h1 class="text-center fw-bolder">Gérer les dates</h1>
        </div>
        <div class="col-md-7 col-11 mt-5">
            {{ form_errors(eventForm) }}

            {{ form_start(eventForm) }}
                {{ form_row(eventForm.dateprov) }}
                {{ form_row(eventForm.privateDetails) }}
                {{ form_row(eventForm.publicDetails) }}
                {{ form_row(eventForm.status) }}
                {{ form_row(eventForm.EventCategory) }}

                <div class="d-flex justify-content-center justify-content-md-start">
                    <button type="submit" class="btn btn-lg btn-primary rounded mt-3">{{ button_label|default('Envoyer') }}</button>
                </div>

            {{ form_end(eventForm) }}
        </div>
    </section>
{% endblock %}
