{% extends 'base.html.twig' %}

{% block title %}Luttes Enchantées - Agenda{% endblock %}

{% block body %}
        <section class="container row d-flex justify-content-center mt-3">
			
			<div class="col-9 row">
				<h1 class="text-center fw-bolder">Agenda</h1>
                <h2 class="text-center fw-bolder">Voici les évenements à venir :</h2>
            </div>
            <div class="col-11 mt-5">
                {% if events %}
                    {% for event in events %}

				<article class="card mx-auto my-5 rounded">
					<div class="card-header row bgmain rounded">
						<h3 class="card-title text-start text-white m-auto p-2 col-9">{{ event.eventCategory }} du {{ event.date }}</h3>
						<p class="text-end col-3 m-auto">Evenement {{ event.status }}</p>
					</div>
					<div class="card-body row mt-3">
						<div class="row">
							<p class="text-center col">Présentes : {{ event.oui }}</p>
							<p class="text-center col">Absentes : {{ event.non }}</p>
							<p class="text-center col">Ne savent pas : {{ event.nsp }}</p>
							<p class="text-center col">Non répondu : {{ event.pasrep }}</p>
						</div>
						<p class="justify">{{ event.privateDetails }}</p>

						<div class="d-flex justify-content-center">
							<a href="{{ path('app_event_detail', { id: event.id }) }}" class="text-decoration-none text-left">
								<button type="button" class="btn btn-lg btn-primary rounded mt-3">Voir le détail</button>
							</a>
						</div>
					</div>

				</article>
                {% endfor %}
            {% else %}
                <p class="text-center">Aucun évenement prévu pour l'instant, reviens plus tard</p>
            {% endif %}
            </div>

{% endblock %}
