{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <section class="container row d-flex justify-content-center mx-auto mt-3">
        <div class="col-md-7 col-11 row">
            <form method="post">
                {{ form_errors(resetPasswordForm) }}

                <h1 class="h3 mb-3 font-weight-normal text-center text-md-start">Réinitialisation du mot de passe</h1>

                {{ form_start(resetPasswordForm) }}
                    {{ form_row(resetPasswordForm.password) }}
                    {{ form_row(resetPasswordForm.password2) }}

                    <div class="d-flex justify-content-center justify-content-md-start">
                        <button type="submit" class="btn btn-lg btn-primary rounded mt-5">{{ button_label|default('Envoyer') }}</button>
                    </div>
                {{ form_end(resetPasswordForm) }}
            </form>
        </div>
    </section>
{% endblock %}
