        <nav class="navbar navbar-expand-lg" id="nav1">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">
                    <img id="logoNav" src="{{ asset('img/Logo.png') }}" alt="logo Luttes Enchantées!">
                </a>
                <button class="navbar-toggler navbarLink" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" id="navbar-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                {# <a class="nav-link" href="{{ path('app_admin_tricks_add') }}">Nouveau trick</a> #}
                            </li>
                            <li class="nav-item">
                                {# <a class="nav-link" href="{{ path('app_admin_profil_index') }}">Profil</a> #}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbarLink" href="{{ path('app_add_event') }}">Gérer les dates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbarLink" href="{{ path('app_event') }}">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbarLink" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link navbarLink" href="{{ path('app_contact') }}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbarLink" href="{{ path('app_login') }}">Espace membres</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>
