{% extends 'base.html.twig' %}

{% block title %}Hello ParticipationController!{% endblock %}

{% block body %}
    <section class="container row d-flex justify-content-center mt-3 mx-auto">
        <div class="col-md-7 col-11">
            <h1 class="text-center fw-bolder">Gérer les dates</h1>
        </div>
        <div class="col-md-7 col-11 mt-5">
            <h4>{{ event.eventCategory.name }} du {{ event.date }}</h4>
            <p>{{ event.privateDetails }}</p>
            <p>Je serais présente :</p>
            {{ form_errors(eventParticipationForm) }}

            {{ form_start(eventParticipationForm) }}
                {{ form_row(eventParticipationForm.status) }}

                <div class="d-flex justify-content-center justify-content-md-start">
                    <button type="submit" class="btn btn-lg btn-primary mt-3">{{ button_label|default('Envoyer') }}</button>
                </div>

            {{ form_end(eventParticipationForm) }}
        </div>
    </section>
{% endblock %}
