{% extends 'base.html.twig' %}

{% block title %}Echanges{% endblock %}

{% block body %}

    <section class="container d-flex row justify-content-center mt-3 mx-auto">
        
        <div class="col-md-7 col-11">
            <h1 class="text-center fw-bolder">Créer un nouvel échange dans la catégorie {{ category.name }}</h1>
            <p class="text-center">Si tu veux changer de catégorie, pas de problème ! Choisi en dessous :</p>
            <ul class="row w-75 mx-auto">
                {% for cat in sharingCategories %}
                    <li class="col">
                        <div class="d-flex mt-3">
                            <a href="{{ path('add_new_sharing_item_by_cat', { catId: cat.id }) }}" class="text-decoration-none mx-auto">
                                <button type="button" class="btn btn-sm btn-primary rounded mx-auto">{{ cat.name }}</button>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <section>

            <div class="col-md-7 col-11 mt-5 mx-auto">

                {{ form_errors(sharingItemForm) }}

                {{ form_start(sharingItemForm) }}
                    {{ form_row(sharingItemForm.title) }}
                    {{ form_row(sharingItemForm.content) }}

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg btn-primary rounded mt-3">Envoyer</button>
                    </div>

                {{ form_end(sharingItemForm) }}

            </div>

        </section>

    </section>

{% endblock %}
