{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau chant{% endblock %}

{% block body %}
    <section class="container row d-flex justify-content-center mt-3">
        
        <div class="col-md-7 col-11">
            <h1 class="text-center fw-bolder">Ajouter un nouveau chant</h1>
        </div>
        <div class="col-md-7 col-11 mt-5">

            {{ form_errors(songForm) }}

            {{ form_start(songForm) }}
                {{ form_row(songForm.title) }}
                {{ form_row(songForm.description) }}
                {{ form_row(songForm.currentSong) }}
                {{ form_row(songForm.category) }}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary rounded mt-3">{{ button_label|default('Enregistrer') }}</button>
                </div>

            {{ form_end(songForm) }}

        </div>

    </section>

{% endblock %}
