{% extends 'base.html.twig' %}

{% block title %}Ajouter un texte{% endblock %}

{% block body %}

    <section class="container row justify-content-center mt-3 mx-auto">
        
        <div class="col-9 row mt-5">
            <h1 class="text-center fw-bolder">Ajouter un texte</h1>
        </div>
        <div class="col-11 col-lg-9 mt-5">

            <h2 class="text-center mt-3">Télécharger un fichier texte (paroles, traductions...) pour {{ song.title }}</h2>

            {{ form_errors(textSongForm) }}

            {{ form_start(textSongForm) }}

                {{ form_row(textSongForm.text) }}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-lg btn-primary rounded mt-3">{{ button_label|default('Enregistrer') }}</button>
                </div>

            {{ form_end(textSongForm) }}

            <h2 class="text-center mt-5">Modifier un autre élément de {{ song.title }}</h4>

            {# <div class="col-lg row mt-3 mx-auto m-lg-auto">
                <a href="{{ path('app_song_details', { id: song.id }) }}" class="text-center text-decoration-none m-auto">
                    <button type="button" class="btn btn-sm btn-primary rounded">Ajouter une voix</button>
                </a>
            </div>

            <div class="col-lg row mt-3 mx-auto m-lg-auto">
                <a href="{{ path('app_song_details', { id: song.id }) }}" class="text-center text-decoration-none m-auto">
                    <button type="button" class="btn btn-sm btn-primary rounded">Ajouter un texte</button>
                </a>
            </div>

            <div class="col-lg row mt-3 mx-auto m-lg-auto">
                <a href="{{ path('app_song_details', { id: song.id }) }}" class="text-center text-decoration-none m-auto">
                    <button type="button" class="btn btn-sm btn-primary rounded">Ajouter une vidéo</button>
                </a>
            </div>

            <div class="col-lg row mt-3 mx-auto m-lg-auto">
                <a href="{{ path('app_update_song', { id: song.id }) }}" class="text-center text-decoration-none m-auto">
                    <button type="button" class="btn btn-sm btn-primary rounded">Modifier</button>
                </a>
            </div> #}

        </div>

    </section>

{% endblock %}
