{% extends 'base.html.twig' %}

{# {% block title %}{{song.title}}{% endblock %} #}

{% block body %}
<section class="container row d-flex justify-content-center mx-auto mt-3">

    <div class="col-11 col-lg-9 mt-5 row">
        <h1 class="text-center fw-bolder">{{song.title}}</h1>
        <p class="text-center">{{song.description}}</p>

    </div>
    <div class="col-11 col-lg-9">
        <div class="d-flex justify-content-center flex-column mt-5 mx-auto">

            {% for voice in voices %}
                <h2 class="row mx-auto mt-3">{{ voice.voiceType }}</h2>
                <audio class="row mx-auto w-50"
                    controls
                    src="{{ asset('uploads/voices/') ~  voice.fileName }}" type="audio/mp3">
                        <a href="{{ asset('uploads/voices/') ~  voice.fileName }}">
                        Download audio
                        </a>
                </audio>
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5 mx-auto">

            {% for text in texts %}

                <figure class="w-100 h-300">
                    <iframe src="{{ asset('uploads/texts/') ~  text.fileName }}" type="application/pdf" width="100%" height="600%"></iframe>
                </figure>

            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5 mx-auto">

                <figure class="w-100 h-400">

                </figure>

        </div>

    </div>

</section>

{% endblock %}
