{% extends 'base.html.twig' %}

{# {% block title %}{{song.title}}{% endblock %} #}

{% block body %}
<section class="container row d-flex justify-content-center mx-auto mt-3">

    <div class="col-11 col-lg-9 mt-5 row">
        <h1 class="text-center fw-bolder">{{song.title}}</h1>
        <p class="text-center">{{song.description}}</p>

        <div class="d-flex justify-content-center flex-column mt-5 mx-auto">
            <h2 class="mx-auto mt-3">Voix :</h2>
                {% for voice in voices %}
                    <h3 class="row mx-auto mt-3">{{ voice.voiceType }}</h3>
                    <audio class="row mx-auto w-50"
                        controls
                        src="{{ asset('uploads/voices/') ~  voice.fileName }}" type="audio/mp3">
                            <a href="{{ asset('uploads/voices/') ~  voice.fileName }}">
                            Download audio
                            </a>
                    </audio>
                {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-5 mx-auto h-auto object-fit-contain">

            {% for text in texts %}

                <figure class="w-100  mx-auto">
                    <iframe id="text" src="{{ asset('uploads/texts/') ~  text.fileName }}" type="application/pdf"></iframe>
                </figure>

            {% endfor %}
        </div>
        <div>
        </div>

        <div class="d-flex justify-content-center mt-5 mx-auto">

                <figure id="showVideo" class="mw-100 mx-auto">
                    {{ song.urlVideo | raw }}
                </figure>

        </div>

    </div>

</section>

{% endblock %}
