{% extends 'base.html.twig' %}

{% block title %}Accueil membres{% endblock %}

{% block body %}
        <section class="container row d-flex justify-content-center mt-3 mx-auto">
            <div class="col-md-7 col-11">
                <h1 class="text-center fw-bolder">Bonjour {{ user.name|capitalize }}, bienvenue sur l'espace réservé aux membres des Luttes Enchantées</h1>
            </div>
            <div class="col-md-8 col-11 mt-5">
                <h2 class="text-center fw-bolder">Voici les évenements à venir :</h2>
                {% if eventsWithoutAnswer %}
                    <div class="ulBorder rounded m-5">
                        <h3 class="text-center fw-bolder mt-5">Ceux où tu n'as pas encore répondu :</h3>
                        <ul class="membersHome">
                            {% for event in eventsWithoutAnswer %}
                                <li class="mt-5">
                                    <h4 class="text-center mt-3 fw-bolder">{{ event.category }} du {{ event.date }}</h4>
                                    <p class="justify">{{ event.privateDetails }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path('app_participation', { participationId: event.participationId }) }}" class="text-decoration-none mx-auto">
                                            <button type="button" class="btn btn-lg btn-primary rounded btn-sm">Répondre</button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if eventsDontKnow %}
                    <div class="ulBorder rounded m-5">
                        <h3 class="text-center fw-bolder mt-5">Ceux où tu as répondu "je ne sais pas" :</h3>
                        <ul class="membersHome">
                            {% for event in eventsDontKnow %}
                                <li class="mt-5">
                                    <h4 class="text-center mt-3 fw-bolder">{{ event.category }} du {{ event.date }}</h4>
                                    <p class="justify">{{ event.privateDetails }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path('app_participation', { participationId: event.participationId }) }}" class="text-decoration-none mx-auto">
                                            <button type="button" class="btn btn-lg btn-primary rounded btn-sm">Modifier ma réponse</button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if eventsYes %}
                    <div class="ulBorder rounded m-5">
                        <h3 class="text-center fw-bolder mt-5">Ceux où tu as répondu "oui" :</h3>
                        <ul class="membersHome">
                            {% for event in eventsYes %}
                                <li class="mt-5">
                                    <h4 class="text-center mt-3 fw-bolder">{{ event.category }} du {{ event.date }}</h4>
                                    <p class="justify">{{ event.privateDetails }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path('app_participation', { participationId: event.participationId }) }}" class="text-decoration-none mx-auto">
                                            <button type="button" class="btn btn-lg btn-primary rounded btn-sm">Modifier ma réponse</button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if eventsNo %}
                    <div class="ulBorder rounded m-5">
                        <h3 class="text-center fw-bolder mt-5">Ceux où tu as répondu "non" :</h3>
                        <ul class="membersHome">
                            {% for event in eventsNo %}
                                <li class="mt-5">
                                    <h4 class="text-center mt-3 fw-bolder">{{ event.category }} du {{ event.date }}</h4>
                                    <p class="justify">{{ event.privateDetails }}</p>
                                    <div class="d-flex">
                                        <a href="{{ path('app_participation', { participationId: event.participationId }) }}" class="text-decoration-none mx-auto">
                                            <button type="button" class="btn btn-lg btn-primary rounded btn-sm">Modifier ma réponse</button>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </section>

{% endblock %}
