{% extends 'base.html.twig' %}

{% block title %}Enregistrer une nouvelle choriste{% endblock %}

{% block body %}
        <section class="container row d-flex justify-content-center mt-3 mx-auto">
			
        <div class="col-md-7 col-11">
            <h1 class="text-center fw-bolder">Enregistrer une nouvelle choriste</h1>
        </div>
        <div class="col-md-7 col-11 mt-5">
            {{ form_errors(userForm) }}

            {{ form_start(userForm) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.role) }}
                {{ form_row(userForm.plainPassword) }}
                {{ form_row(userForm.name) }}
                {{ form_row(userForm.tel) }}
                {{ form_row(userForm.agreement) }}

                <div class="d-flex justify-content-center justify-content-md-start">
                    <button type="submit" class="btn btn-lg btn-primary rounded mt-5">{{ button_label|default('Envoyer') }}</button>
                </div>
            {{ form_end(userForm) }}
        </div>

{% endblock %}
