{% extends 'base.html.twig' %}

{% block title %}Gérer les chants{% endblock %}

{% block body %}

        <section class="container row d-flex justify-content-center mt-3 mx-auto">
			
			<div class="col-11 col-lg-9 row mt-3">
				<h1 class="text-center fw-bolder fs-3 mt-3">Planning Familial - 06/06/2024</h1>

                <p class="text-center">Concert pour l'innauguration des nouveaux locaux du <a href="https://www.planning-familial.org/fr/le-planning-familial-dille-et-vilaine-35/" target="_blank">Planning Familial 35</a></p>
                <p class="text-center">Après notre concert il y a eu celui de nos soeurs de la chorale La Fronde du Planning familial de Saint Malo.</p>
                <p class="text-center">Et pour finir nous avons chanté ensemble.</p>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p1.jpg') }}">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p2.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p3.jpg') }}">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p4.jpg') }}">
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto my-0">
                    <div class="col-lg row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v1.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-lg row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v2.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto my-0">
                    <div class="col-lg row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v3.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-lg row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v4.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto">
                    <div class="col-lg-6 col-offset-lg-3 row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v5.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p5.jpg') }}">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p6.jpg') }}">
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto">
                    <div class="col-lg-6 col-offset-lg-3 row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v6.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p7.jpg') }}">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p8.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p9.jpg') }}">
                        <img class="mwidth45 mt-5 col" src="{{ asset('img/pf0624/pf0624p10.jpg') }}">
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto">
                    <div class="col-lg-6 col-offset-lg-3 row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" max-width="300" height="auto" controls>
                            <source src="{{ asset('video/pf0624/pf0624v7.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>
			</div>



		</section>

{% endblock %}
