{% extends 'base.html.twig' %}

{% block title %}Luttes Enchantées - Images{% endblock %}

{% block body %}
        <section class="container row d-flex justify-content-center mt-3">
			
			<div class="col-11 col-lg-9 row mt-3">
				<h1 class="text-center fw-bolder fs-3 mt-3">Soirée de soutien à la conférence gesticulée "La ménopause c'est pas la mort, c'est encore l'amour" - 04/10/2024</h1>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-1.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-2.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-3.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-4.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-5.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-6.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-7.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-8.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-9.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-10.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-11.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-12.jpg') }}">
                    </div>
                </div>

                <div class="row d-lg-flex justify-content-lg-around mx-auto">
                    <img class="imagePortrait mt-5" src="{{ asset('img/soutien041024/soutien041024-13.jpg') }}">
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-14.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-15.jpg') }}">
                    </div>
                </div>

                <div class="row d-lg-flex justify-content-lg-around mx-auto">
                    <img class="imagePortrait mt-5" src="{{ asset('img/soutien041024/soutien041024-16.jpg') }}">
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-17.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-18.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-19.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-20.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-21.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-22.jpg') }}">
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-23.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/soutien041024/soutien041024-24.jpg') }}">
                    </div>
                </div>

                <div class="row d-lg-flex justify-content-lg-around mx-auto">
                    <img class="imagePortrait mt-5" src="{{ asset('img/soutien041024/soutien041024-25.jpg') }}">
                    <img class="imagePortrait mt-5" src="{{ asset('img/soutien041024/soutien041024-26.jpg') }}">
                </div>

                <div class="col-lg row mw-lg-25 mt-5 justify-content-center mx-auto">
                    <video width="auto" height="300" controls>
                        <source src="{{ asset('video/soutien041024/soutien041024-v1.mp4') }}" type="video/mp4" />
                    </video>
                </div>

			</div>


		</section>

{% endblock %}
