{% extends 'base.html.twig' %}

{% block title %}Gérer les chants{% endblock %}

{% block body %}

        <section class="container row d-flex justify-content-center mt-3 mx-auto">
			
			<div class="col-11 col-lg-9 row mt-3">
				<h1 class="text-center fw-bolder fs-3 mt-3">Planning Familial - 15/03/2023</h1>

                <p class="text-center">Concert pour la soirée veille à ton droit du <a href="https://www.planning-familial.org/fr/le-planning-familial-dille-et-vilaine-35/" target="_blank">Planning Familial 35</a></p>

				<div class="membersVideosGrid">
					<div class="photo ph85"><img class="image" src="{{ asset('img/pf0323/IMG_1885.jpg') }}"></div>
					<div class="photo ph86"><img class="image" src="{{ asset('img/pf0323/IMG_1886.jpg') }}"></div>
					<div class="photo ph90"><img class="image" src="{{ asset('img/pf0323/IMG_1890.jpg') }}"></div>
					<div class="photo ph91"><img class="image" src="{{ asset('img/pf0323/IMG_1891.jpg') }}"></div>
					<div class="photo ph92"><img class="image" src="{{ asset('img/pf0323/IMG_1892.jpg') }}"></div>
					<div class="photo ph94"><img class="image" src="{{ asset('img/pf0323/IMG_1894.jpg') }}"></div>
					<div class="photo ph99"><img class="image" src="{{ asset('img/pf0323/IMG_1899.jpg') }}"></div>
					<div class="photo ph00"><img class="image" src="{{ asset('img/pf0323/IMG_1900.jpg') }}"></div>
					<div class="photo ph02"><img class="image" src="{{ asset('img/pf0323/IMG_1902.jpg') }}"></div>
					<div class="photo ph05"><img class="image" src="{{ asset('img/pf0323/IMG_1905.jpg') }}"></div>
					<div class="photo ph07"><img class="image" src="{{ asset('img/pf0323/IMG_1907.jpg') }}"></div>
					<div class="photo ph11"><img class="image" src="{{ asset('img/pf0323/IMG_1911.jpg') }}"></div>
					<div class="photo ph13"><img class="image" src="{{ asset('img/pf0323/IMG_1913.jpg') }}"></div>
					<div class="photo ph14"><img class="image" src="{{ asset('img/pf0323/IMG_1914.jpg') }}"></div>
					<div class="photo ph19"><img class="image" src="{{ asset('img/pf0323/IMG_1919.jpg') }}"></div>
					<div class="photo ph21"><img class="image" src="{{ asset('img/pf0323/IMG_1921.jpg') }}"></div>
					<div class="photo ph22"><img class="image" src="{{ asset('img/pf0323/IMG_1922.jpg') }}"></div>
					<div class="photo ph24"><img class="image" src="{{ asset('img/pf0323/IMG_1924.jpg') }}"></div>
					<p id="credit">Photos Elodie Potel</p>
				</div>

			</div>



		</section>

{% endblock %}
