{% extends 'base.html.twig' %}

{% block title %}Gérer les chants{% endblock %}

{% block body %}

        <section class="container row d-flex justify-content-center mt-3 mx-auto">
			
			<div class="col-11 col-lg-9 row mt-3">
				<h1 class="text-center fw-bolder fs-3 mt-3">Nuit des Musées au Frac - 21/06/2024</h1>

                <p>Dans le cadre de la nuit des musées et autour de l'expo : This song is for… Vol.1 de Gabrielle Goliath. Plus de détails <a href="https://www.fracbretagne.fr/fr/gabrielle-goliath-exposition-rennes-2024/" target="_blank">ici</a></p>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto my-0">
                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv1.mp4') }}" type="video/mp4" />
                        </video>
                    </div>

                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv2.mp4') }}" type="video/mp4" />
                        </video>
                    </div>

                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv3.mp4') }}" type="video/mp4" />
                        </video>
                    </div>

                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv4.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg d-lg-flex justify-content-lg-around mx-auto">
                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv5.mp4') }}" type="video/mp4" />
                        </video>
                    </div>

                    <div class="col-lg row w-lg-25 d-flex mt-5 justify-content-center mx-auto">
                        <video width="auto" height="300" controls>
                            <source src="{{ asset('video/frac2024/fracv6.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                    <div class="col-lg row w-lg-50 d-flex mt-5 justify-content-center mx-auto">
                        <video class="m-auto" width="300" height="auto" controls>
                            <source src="{{ asset('video/frac2024/fracv7.mp4') }}" type="video/mp4" />
                        </video>
                    </div>
                </div>

                <div class="row-lg mx-auto d-flex">
                    <div class="d-lg-flex justify-content-lg-around">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/frac2024/fracp1.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/frac2024/fracp2.jpg') }}">
                        <img class="mwidth30 mt-5 col" src="{{ asset('img/frac2024/fracp3.jpg') }}">
                    </div>
                </div>

                <div class="row d-lg-flex justify-content-lg-around mx-auto">
                    <img class="imagePortrait mt-5" src="{{ asset('img/frac2024/fracp4.jpg') }}">
                    <img class="imagePortrait mt-5" src="{{ asset('img/frac2024/fracp5.jpg') }}">
                    <img class="imagePortrait mt-5" src="{{ asset('img/frac2024/fracp6.jpg') }}">
                    <img class="imagePortrait mt-5" src="{{ asset('img/frac2024/fracp7.jpg') }}">
                </div>

			</div>

		</section>

{% endblock %}
